<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CompatibilityTest.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <CompatibilityTest.MySettings>
            <setting name="HostPortPairs" serializeAs="String">
                <value>services.boson.com:80</value>
            </setting>
            <setting name="PathPart_CompanyName" serializeAs="String">
                <value>\Boson Software</value>
            </setting>
            <setting name="PathPart_SoftwareName" serializeAs="String">
                <value>\Boson NetSim 9</value>
            </setting>
            <setting name="DisplayAppPortsButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathPart_OLDCCNPSoftwareName" serializeAs="String">
                <value>\Boson NetSim for CCNP 9</value>
            </setting>
            <setting name="PathPart_OLDCCNASoftwareName" serializeAs="String">
                <value>\Boson NetSim for CCNA 9</value>
            </setting>
            <setting name="Filter_InstallNames" serializeAs="String">
                <value>HotFix, .Net, boson, microsoft</value>
            </setting>
            <setting name="Filter_ProcessNames" serializeAs="String">
                <value>navigator, boson_netsim, netsimsdm, netsimvpnclient,compatibilitytest</value>
            </setting>
        </CompatibilityTest.MySettings>
    </applicationSettings>

  <!-- log4Net -->
  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="CompatibilityTest_LogFileAppender"/>
      <!--<appender-ref ref="LabPackUpdater_LogFileAppender"/>-->
    </root>

    <!--Was able to open 74MB .NET log in notepad so 50 should be okay-->
    <appender name="CompatibilityTest_LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${ALLUSERSPROFILE}\Application Data\Boson Software\Boson NetSim 9\Logs\CompatibilityTest.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="100"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="Header" value="[ *** Header *** ]" />
        <param name="Footer" value="[ *** Footer *** ]" />-->
        <param name="ConversionPattern" value="%n%utcdate UTC [%t] %-5p %c - %m"/>
      </layout>
    </appender>

    <!--Was able to open 74MB .NET log in notepad so 50 should be okay-->
    <!--<appender name="LabPackUpdater_LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="LabPackUpdater.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="100"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n%utcdate UTC [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>-->

  </log4net>

</configuration>
