<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetSimSDM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetSimSDM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="NetSimSDM.My.MySettings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <NetSimSDM.My.MySettings>
            <setting name="FormBGColor" serializeAs="String">
                <value>212, 208, 200</value>
            </setting>
        </NetSimSDM.My.MySettings>
    </applicationSettings>
    <userSettings>
        <NetSimSDM.My.MySettings>
            <setting name="Preferences_Preview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Preferences_Save" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Preferences_ConfirmExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Preferences_ConfirmMon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Preferences_MaxToMon" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MyListeningPort" serializeAs="String">
                <value>8016</value>
            </setting>
            <setting name="NetSimListeningPort" serializeAs="String">
                <value>8014</value>
            </setting>
            <setting name="SaveConfigAs" serializeAs="String">
                <value>SDMConfig.rtr</value>
            </setting>
            <setting name="IPC_DELIMETER" serializeAs="String">
                <value>/$/</value>
            </setting>
            <setting name="IPC_LOADCONFIG" serializeAs="String">
                <value>LOADCONFIG</value>
            </setting>
            <setting name="IPC_MESSAGE_FORMAT" serializeAs="String">
                <value>SDM.%_RouterNum.SYS.%_IPCMessage</value>
            </setting>
            <setting name="IPC_GETROUTER" serializeAs="String">
                <value>GETROUTER</value>
            </setting>
            <setting name="ApplicationTitle" serializeAs="String">
                <value>NetSim Router and Security Device Manager (SDM):</value>
            </setting>
            <setting name="IPC_TESTVPN" serializeAs="String">
                <value>TESTVPN</value>
            </setting>
            <setting name="IPC_GETRUNNING" serializeAs="String">
                <value>GETRNCFG</value>
            </setting>
        </NetSimSDM.My.MySettings>
    </userSettings>
</configuration>
