<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NetSim.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NetSim.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="NetsimUpdater.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="BosonNetsimInterop.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Boson.Shared.WebRefs.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="NetSimDataEntities" connectionString="metadata=res://*/Entities.NetSimDataModel.csdl|res://*/Entities.NetSimDataModel.ssdl|res://*/Entities.NetSimDataModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=C:\Users\andrew.messier\Documents\Databases\NetSimData.sdf;Password=password;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.3.5" />
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.1.50, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <enforceFIPSPolicy enabled="false"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="3.5.1.0-3.5.1.50" newVersion="3.5.1.50" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <!-- log4Net -->
  <log4net>
    <!-- Root Logger -->
    <appender name="NetSim.UI.Logger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${ALLUSERSPROFILE}\Application Data\Boson Software\Boson Netsim 11\Logs\NetSim.UI.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n%utcdate UTC [%t] %-5p - %m" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="nsEngine" />
        <acceptOnMatch value="false" />
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="BosonNetSimInterop.Logger" />
        <acceptOnMatch value="false" />
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NetSim.Designer.Logger" />
        <acceptOnMatch value="false" />
      </filter>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="NetSim.UI.Logger" />
    </root>
    <!-- NetSim.Engine Logger-->
    <appender name="NetSim.Engine.Logger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${ALLUSERSPROFILE}\Application Data\Boson Software\Boson NetSim 11\Logs\NetSim.Engine.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%newline%utcdate UTC [%thread] %-5level %message" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="nsEngine" />
        <acceptOnMatch value="true" />
      </filter>
    </appender>
    <logger name="nsEngine">
      <level value="INFO" />
      <appender-ref ref="NetSim.Engine.Logger" />
    </logger>
    <!-- BosonNetSimInterop Logger-->
    <appender name="BosonNetsimInterop.Logger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${ALLUSERSPROFILE}\Application Data\Boson Software\Boson Netsim 11\Logs\BosonNetSimInterop.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n%utcdate UTC [%t] %-5p [%property{NDC}] %method() - %m" />
      </layout>
    </appender>
    <logger name="BosonNetsimInterop">
      <level value="INFO" />
      <appender-ref ref="BosonNetsimInterop.Logger" />
    </logger>
    <!-- Network Designer Logger-->
    <appender name="NetSim.Designer.Logger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${ALLUSERSPROFILE}\Application Data\Boson Software\Boson Netsim 11\Logs\NetSim.Designer.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n%utcdate UTC [%t] %-5p - %m" />
      </layout>
    </appender>
    <logger name="NetSim.Designer.Logger">
      <level value="INFO" />
      <appender-ref ref="NetSim.Designer.Logger" />
    </logger>
  </log4net>
  <userSettings>
    <NetSim.Settings>
      <setting name="ShowCompilerWelcome" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConsoleFont" serializeAs="String">
        <value>Courier New</value>
      </setting>
      <setting name="ConsoleForecolor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="ConsoleBackcolor" serializeAs="String">
        <value>#FF000000</value>
      </setting>
      <setting name="ConsoleFontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ConsoleFontWeight" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="GradeMissingColor" serializeAs="String">
        <value>#FFEFB6B6</value>
      </setting>
      <setting name="GradeExtraColor" serializeAs="String">
        <value>#FF62B0FF</value>
      </setting>
      <setting name="GradeShowOnlyMissing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GradeHighlightMissing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GradeHighlightExtra" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowActivationDetail" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TelnetPath" serializeAs="String">
        <value>C:\Windows\System32</value>
      </setting>
      <setting name="AutoCollapseTree" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoHideMenu" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HideStatusBar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideToolbar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadNewsFeed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RecentLabsToShow" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="AutoCloseProgress" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DontNotifyLabSavePath" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DontConfirmClose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyConnection" serializeAs="String">
        <value>Direct</value>
      </setting>
      <setting name="ProxyAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyDomain" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value />
      </setting>
      <setting name="StartupView" serializeAs="String">
        <value>Home</value>
      </setting>
      <setting name="AutoLoadExternalViewer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomerOffersUrl" serializeAs="String">
        <value>http://www.boson.com/RSS/CustomerOffer2.aspx?AK=</value>
      </setting>
      <setting name="DontConfirmClear" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DontConfirmDelete" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FixedWidthFonts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GradingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SolutionsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CliMode" serializeAs="String">
        <value>Window</value>
      </setting>
      <setting name="AutoExpandTree" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsFirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RememberRestoreLabDecision" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RestoreLabDecision" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LabFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoCollapseNavigation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainWindowPlacement" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoOpenConsoles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayReleaseNotes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ApplicationVersion" serializeAs="String">
        <value>10.0</value>
      </setting>
      <setting name="DontDisplayEvaluateCompiler" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DontDisplayEvaluateDesigner" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisableTips" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DontAskToCloseGuidedTips" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DataCachingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrivacyPolicyLink" serializeAs="String">
        <value>http://www.boson.com/</value>
      </setting>
      <setting name="AcknowledgedPrivacyPolicy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserSolutionsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GradeResultsViewer" serializeAs="String">
        <value>Unified</value>
      </setting>
    </NetSim.Settings>
  </userSettings>
  <applicationSettings>
    <NetSim.Settings>
      <setting name="SUAgreementFileName" serializeAs="String">
        <value>boson_sula.txt</value>
      </setting>
      <setting name="LSAgreementFileName" serializeAs="String">
        <value>boson_aua.txt</value>
      </setting>
      <setting name="UserManualFileName" serializeAs="String">
        <value>usermanual.xps</value>
      </setting>
      <setting name="SupportUrl" serializeAs="String">
        <value>http://www.boson.com/support/NetSim-Support-Topics.html</value>
      </setting>
      <setting name="SupportTicketUrl" serializeAs="String">
        <value>https://www.boson.com/account/supporttickets</value>
      </setting>
      <setting name="SpecialOffersUrl" serializeAs="String">
        <value>http://blog.boson.com/CMS/UI/Modules/BizBlogger/rss.aspx</value>
      </setting>
      <setting name="NetSimVideoDemo" serializeAs="String">
        <value>http://www.youtube.com/playlist?list=PL7a_V2KlyF_z766ibltIJ4HGBiKekTUOy</value>
      </setting>
      <setting name="HomeUrl" serializeAs="String">
        <value>http://www.boson.com</value>
      </setting>
      <setting name="SpecialOffersUrl1" serializeAs="String">
        <value />
      </setting>
      <setting name="nsAppDataEnvironmentVariable" serializeAs="String">
        <value>%AppData%</value>
      </setting>
      <setting name="nsProgramFilesEnvironmentVariable" serializeAs="String">
        <value>%ProgramFiles%</value>
      </setting>
      <setting name="MHUpdateURL" serializeAs="String">
        <value>http://www.boson.com/netsim-partners-special-offers</value>
      </setting>
      <setting name="ManifestURL" serializeAs="String">
        <value>http://services.boson.com/netsim11services/NETSIM11_CURRENT_DISTRIB/UpdateManifest.xml</value>
      </setting>
    </NetSim.Settings>
    <NetsimUpdater.My.MySettings>
      <setting name="Updater_applicationupdates_ApplicationUpdates" serializeAs="String">
        <value>https://services.boson.com/netsim11services/ApplicationUpdates.asmx</value>
      </setting>
      <setting name="Updater_labaccess_LabAccess" serializeAs="String">
        <value>https://services.boson.com/netsim11services/labaccess.asmx</value>
      </setting>
    </NetsimUpdater.My.MySettings>
    <BosonNetsimInterop.My.MySettings>
      <setting name="BosonNetsimInterop_Helpers_Helpers" serializeAs="String">
        <value>https://services.boson.com/helpers.asmx</value>
      </setting>
      <setting name="BosonNetsimInterop_NetsimAccess_NetsimAccess" serializeAs="String">
        <value>https://services.boson.com/NetsimAccess.asmx</value>
      </setting>
    </BosonNetsimInterop.My.MySettings>
    <Boson.Shared.WebRefs.My.MySettings>
        <setting name="Boson_Shared_WebRefs_ResultsSubmitterServices_ResultsSubmitter" serializeAs="String">
          <value>http://services.boson.com/ResultsSubmitter.asmx</value>
        </setting>
        <setting name="Boson_Shared_WebRefs_FileAccessServices_FileAccess" serializeAs="String">
          <value>http://services.boson.com/FileAccess.asmx</value>
        </setting>
        <setting name="Boson_Shared_WebRefs_HelperServices_Helpers" serializeAs="String">
          <value>http://services.boson.com/Helpers.asmx</value>
        </setting>
        <setting name="Boson_Shared_WebRefs_LoggingServices_Logging" serializeAs="String">
          <value>http://services.boson.com/Logging.asmx</value>
        </setting>
        <setting name="Boson_Shared_WebRefs_UserAccessServices_UserAccess" serializeAs="String">
          <value>http://services.boson.com/UserAccess.asmx</value>
        </setting>
    </Boson.Shared.WebRefs.My.MySettings>
  </applicationSettings>
  <appSettings>
    <add key="BosonNetsimInterop.Helpers.Helpers" value="https://services.boson.com/helpers.asmx" />
    <add key="BosonNetsimInterop.NetsimAccess.NetsimAccess" value="https://services.boson.com/NetsimAccess.asmx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_ILabAccess" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" transferMode="StreamedResponse">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.boson.com/Netsim11WcfServices/LabAccess.svc"
          binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_ILabAccess"
          contract="labaccesswcf.ILabAccess" name="basicHttpBinding_ILabAccess">
        <identity>
          <servicePrincipalName value="host/DED409.maximumasp.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>