<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UpdaterUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="NetsimUpdater.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="BosonNetsimInterop.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />    
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <runtime>
    <enforceFIPSPolicy enabled="false"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="3.5.1.0-3.5.1.50" newVersion="3.5.1.50" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="${ALLUSERSPROFILE}\Application Data\Boson Software\Boson Netsim 11\Logs\Updates.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %method() - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <UpdaterUI.My.MySettings>
      <setting name="nsProgramFilesEnvironmentVariable" serializeAs="String">
        <value>%ProgramFiles%</value>
      </setting>
      <setting name="nsAppDataEnvironmentVariable" serializeAs="String">
        <value>%AppData%</value>
      </setting>
      <setting name="InstallerVersionNumber" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="ManifestURL" serializeAs="String">
        <value>https://services.boson.com/netsim11services/netsim11_CURRENT_DISTRIB/UpdateManifest.xml</value>
      </setting>
    </UpdaterUI.My.MySettings>
    <NetsimUpdater.My.MySettings>
      <setting name="Updater_netsimaccess_NetsimAccess" serializeAs="String">
        <value>https://services.boson.com/netsimaccess.asmx</value>
      </setting>
      <setting name="Updater_helpers_Helpers" serializeAs="String">
        <value>https://services.boson.com/helpers.asmx</value>
      </setting>
      <setting name="Updater_labaccess_LabAccess" serializeAs="String">
        <value>https://services.boson.com/netsim11services/labaccess.asmx</value>
      </setting>
      <setting name="Updater_applicationupdates_ApplicationUpdates"
          serializeAs="String">
        <value>https://services.boson.com/netsim11services/ApplicationUpdates.asmx</value>
      </setting>
    </NetsimUpdater.My.MySettings>
    <BosonNetsimInterop.My.MySettings>
      <setting name="BosonNetsimInterop_Helpers_Helpers" serializeAs="String">
        <value>https://services.boson.com/helpers.asmx</value>
      </setting>
      <setting name="BosonNetsimInterop_NetsimAccess_NetsimAccess" serializeAs="String">
        <value>https://services.boson.com/NetsimAccess.asmx</value>
      </setting>
    </BosonNetsimInterop.My.MySettings>
  </applicationSettings>
  <appSettings>
    <add key="BosonNetsimInterop.Helpers.Helpers" value="https://services.boson.com/helpers.asmx" />
    <add key="BosonNetsimInterop.NetsimAccess.NetsimAccess" value="https://services.boson.com/NetsimAccess.asmx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_ILabAccess" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" transferMode="StreamedResponse">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.boson.com/Netsim11WcfServices/LabAccess.svc"
          binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_ILabAccess"
          contract="labaccesswcf.ILabAccess" name="basicHttpBinding_ILabAccess">
        <identity>
          <servicePrincipalName value="host/DED409.maximumasp.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>